<div class="row">
  <div class="banner col s8 offset-s2">
  <h4>
    Legit is all about sharing user experiences about companies.
    The goal is to help these companies improve their products, services, and ultimately, user experience.
  </h4>
  </div>

</div>