<div class="container company">
  <div class="row">
    <div class="col s6 offset-s3">
      <h1>Company</h1>
      <div>
        <%= link_to "Company Login", new_company_session_path, class: "btn blue lighten-3" %>
      </div>
      <div>
        <%= link_to "Register Company", new_company_registration_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>