<div class="container company">
  <h1>Company</h1>
  <%= link_to "Company Login", new_company_session_path, class: "btn blue lighten-3" %>
  <%= link_to "Register Company", new_company_registration_path, class: "btn" %>
</div>