<div class="row">
  <div class="col s8 offset-s2 banner">
    <h1>Legit.</h1>
    <h6>Read about companies. Review them. Improve the user experience.</h6>
    <%= form_tag companies_path, method: :get do %>
      <i class="material-icons">search</i>
      <%= text_field_tag :query,
          params[:query],
          class: "home-search-bar search-bar",
          placeholder: "Get to know a Company"
      %>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render partial: 'shared/sample_review', collection: @reviews, as: :review  %>
  </div>
</div>

<%= link_to "Companies", companies_path, class: "btn" %>
