<li>
  <i class="material-icons">search</i>
</li>
<li class="search-wrapper">
  <%= form_tag companies_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "search-bar",
        placeholder: "Get to know a Company"
    %>
  <% end %>
</li>
<li><%= link_to "About", '/about' %>'</li>
<%= login_helper %>