<nav>
  <div class="nav-wrapper">
    <%= link_to "Legit", root_url, class: "brand-logo" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>About</li>
      <li>Business</li>
      <li>User Login</li>
      <li>Register</li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>About</li>
  <li>Business</li>
  <li>User Login</li>
  <li>Register</li>
</ul>
