<nav>
  <div class="nav-wrapper">
    <%= link_to "Legit", root_url, class: "brand-logo" %>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <%= render 'shared/nav_options' %>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <%= render 'shared/nav_options' %>
</ul>
