<div class="carousel-item light-blue lighten-5 card">
  <div>
    <h6 class="sample-review-title"><%= link_to "Review of #{review.company.name}", company_review_path(review.company, review) %></h6>
  </div>
  <div>
    <span class="sample-stars"><%= star_rating_helper(review.rating) %></span>
  </div>
  <div>
    <p class="sample-content"><%= review.content[0..100] %><%= review.content.length > 100 ? "..." : "" %></p>
  </div>
</div>
