<div class="container">
  <div class="row">
    <%= render partial: "shared/review", object: @review, as: :review, locals: {form: true} %>
    <div class="col s5">
      <h5>Edit Response</h5>
      <%= render partial: "shared/response_form", locals: {company: @company, review: @review, response: @response, action: "Edit Response"} %>
    </div>
  </div>
</div>