<div class="container">
  <% if params[:query].present? %>
    <h4>Search results for: <%= params[:query] %></h4>
  <% end %>

  <div class="row">
    <% @companies.each do |company| %>
      <div class="company-search-profile">
        <h5><%= link_to company.name, company %></h5>
        <p class="company-profile-info"><%= company.reviews.empty? ?
          "No reviews yet" : star_rating_helper(company.rating) + " | " +
          "#{company.reviews.count} reviews" %>
        </p>
        <%= link_to "Write a Review",
            new_company_review_path(company), class:"btn" %>
      </div>
    <% end %>
  </div>
</div>
