/*
*= require material_icons
*/

@import "materialize";

.search-bar {
  display: inline-block;
}

.brand-logo {
  margin-left: 1.25%;
}

nav .large{
  font-size: 4rem !important;
}

.brand-logo .material-icons{
  margin-right: 0px !important;
}

.banner{
  text-align: center;
  h1{
    margin-top: 0px;
  }
}

.home-search-bar{
  width: 50% !important;
  margin-top: 30px !important;
}

search-bar, input[placeholder] {
  text-align: center;
}

.company-search-profile {
  margin-bottom: 25px;
}

.company-profile-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.review-response {
  position: relative;
  left: 25%;
  width: 45%;
  min-height: 250px !important;
  margin: 1.5% !important;
}

.nav-right-panel {
  height: 100%;
}

.review {
  width: 45%;
  min-height: 250px !important;
}

.sample-review {
  min-height: 250px !important;
}
.review-title{
  text-decoration: underline;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.review-content{
  margin-top: 5px;
}

.devise h2{
  margin-top: 0px;
}

.reviewer {
  margin: 2% 0% 0% 0% !important;
  .avatar {
    border-radius: 50%;
    width: 1.5em;
    vertical-align: middle;
  }
}

.card-content {
  padding: 2.5% !important;
}

.btn {
  min-width: 20em;
}