/*
*= require material_icons
*/

@import "materialize";

.search-bar {
  display: inline-block;
}

.brand-logo {
  margin-left: 1.25%;
}

nav .large{
  font-size: 4rem !important;
}

.brand-logo .material-icons{
  margin-right: 0px !important;
}

.banner{
  text-align: center;
  h1{
    margin-top: 0px;
  }
} 
  
.home-search-bar{
  width: 50% !important;
  margin-top: 30px !important;
}

search-bar, input[placeholder] {
  text-align: center;
}

.company-search-profile {
  margin-bottom: 25px;
}

.company-profile-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.review-title{
  text-decoration: underline;
  margin-bottom: 5px;
}

.review-content{
  margin-top: 5px;
}