/*
*= require material_icons
*/

@import "materialize";

.search-bar {
  display: inline-block;
}

.brand-logo {
  margin-left: 1.25%;
}

nav .large{
  font-size: 4rem !important;
}

.brand-logo .material-icons{
  margin-right: 0px !important;
}

.banner{
  text-align: center;
  h1{
    margin-top: 0px;
  }
}

.company-name{
  margin-top: 0px;
}

.home-search-bar{
  width: 50% !important;
  margin-top: 30px !important;
}

search-bar, input[placeholder] {
  text-align: center;
}

.company-search-profile {
  margin-bottom: 25px;
}

.company-profile-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.review-response {
  position: relative;
  left: 25%;
  width: 45%;
  min-height: 250px !important;
  margin: 1.5% !important;
}

.nav-right-panel {
  height: 100%;
}

.review {
  width: 45%;
  min-height: 250px !important;
}

.sample-review {
  min-height: 250px !important;
}
.card-title{
  p {
    text-decoration: underline;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  };
}

.devise h2{
  margin-top: 0px;
}

.card-author {
  margin: 2% 0% 0% 0% !important;
  min-height: 28px;
  .avatar {
    border-radius: 50%;
    width: 1.5em;
    vertical-align: middle;
  }
}

.card-content {
  padding: 2.5% !important;
  p {
    margin-top: 5px;
  }
}

.btn {
  min-width: 20em;
}

.btn-small {
  min-width: 8em;
}

.sample-review-title {
  margin: .5em 1em;
}

.sample-stars{
  margin: .5em 1em;
}

.sample-content{
  margin: .5em 1em;
}

.flash-messages{
  height: 3em;
  width: 25%;
  text-align: center;
  margin-bottom: 1em;
}

.flash{
  height: 3em;
  line-height: 3em;
  border-radius: 5px;
  color: white;
  font-size: 1.25em;
  font-weight: bold;
  p{
    margin: 0px 0px;
  }
}