<div class="container">
  <h1><%= @company.name %></h1>
  <%= render 'shared/total_rating' %>
  <div >
    <%= link_to "Review Company", new_company_review_path(@company), class: "btn" %>
  </div>
</div>

<div class="container">
  <h5>Reviews:</h5>
  <div>
    <%= render partial: "shared/review", collection: @reviews %>
  </div>
</div>
