<div class="container">
  <h1><%= link_to @company.name, company_path(@company) %></h1>
  <%= render 'shared/total_rating' %>
  <% if !current_company %>
    <div>
      <%= link_to "Review Company", new_company_review_path(@company), class: "btn" %>
    </div>
  <% end %>
</div>

<div class="container">
  <h5>Reviews:</h5>
  <div>
    <%= render partial: "shared/review_response", collection: @reviews, as: :review %>
  </div>
</div>
