<div class="container">
  <div class="row">
    <h3>Review for <%= @company.name %></h3>
    <div class="col s6">
      <%= render partial: "shared/review_form", locals: {company: @company, review: @review, action: "Submit Review"} %>
    </div>
  </div>
</div>
